
body {
  margin:0px;
  height: 100vh;
  font-family: "open sans" ,sans-serif;
  background:linear-gradient(#00acee, #205172);
}

.center {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.center a {
  padding: 10px 20px;
  background: #eee;
  color:#111;
  font-size: 15px;
  font-weight: 600;
  text-decoration:none;
  border-radius: 5px;
}

#popup {
  position:fixed;
  top:0px;
  left:0px;
  width: 100vw;
  height:100vh;
  background: rgba(0,0,0,)
}